    <!-- Página "Em Construção" -->
    <div id="construction-page" class="construction-container">
        <div class="construction-content">
            <div class="construction-icon">
                <i class="material-symbols-outlined">construction</i>
            </div>
            <h1 class="construction-title">Funcionalidade em Desenvolvimento</h1>
            <p class="construction-text">Estamos trabalhando para trazer esta novidade para você. Agradecemos a sua
                paciência.</p>
            <button class="btn btn-primary" (click)="goBack()" >
                <i class="material-symbols-outlined">arrow_back</i> Voltar
            </button>
        </div>
    </div>