<div class="app-container">
  <div class="sidebar" [class.show]="isSidebarOpen">
    <div class="sidebar-header">
      <h2 class="sidebar-logo">
        <i class="material-symbols-outlined">delivery_truck_speed</i>SpeedLog
      </h2>
    </div>

    <ul class="nav-menu">
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
          <i class="material-symbols-outlined">dashboard</i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" routerLinkActive="active" class="nav-link">
          <i class="material-symbols-outlined">add_box</i> Registrar Encomenda
        </a>
      </li>
      </ul>
  </div>

  <div class="main-content">
    
    <div class="header">
      <button class="mobile-menu-btn" (click)="toggleSidebar()">
        <i class="material-symbols-outlined">menu</i>
      </button>

      <div class="user-menu">
        <div class="user-info" (click)="toggleUserMenu()">
          <div>
            <span class="user-name">Admin User</span>
            <span class="user-role">{{ userRole }}</span>
          </div>
          <div class="user-avatar">AD</div>
        </div>

        <div class="dropdown-menu" [class.show]="isUserMenuOpen">
          <a href="javascript:void(0)" (click)="logout()" class="dropdown-item">
            <i class="material-symbols-outlined">logout</i> Sair
          </a>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
    
  </div>
</div>